default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: scis_scheduler_app_development
  username: jerome
  password: 12345
  host: localhost
  port: 5433

test:
  <<: *default
  database: scis_scheduler_app_test
  username: jerome
  password: 12345
  host: localhost
  port: 5433

production:
  <<: *default
  database: scis_scheduler_app_production
  username: jerome
  password: 12345
  host: localhost
  port: 5433
