default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: scis_scheduler_app_development
  username: your username
  password: password
  host: localhost
  port: port number

test:
  <<: *default
  database: scis_scheduler_app_test
  username: your username
  password: password
  host: localhost
  port: port number

production:
  <<: *default
  database: scis_scheduler_app_production
  username: your username
  password: password
  host: localhost
  port: port number
